body {
  font-size: .875rem;
  background-color: #f8f9fa;
}

.bg-primary {
    background-color: #0d6efd !important;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 80px;
}

.navbar .navbar-nav {
  flex-direction: row;
}

.navbar .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 80px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #343a40 !important;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 80px;
    padding: 0;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 80px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #c7c7c7;
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
}

.sidebar .nav-link i {
  width: 24px;
  margin-right: 12px;
  font-size: 1.1rem;
}

.sidebar .nav-link.active {
  color: #fff;
  background-color: #0d6efd;
}

.sidebar .nav-link:hover,
.sidebar .nav-link:focus {
  color: #fff;
  background-color: #454d55;
}

main {
  padding-top: 10px;
}

.card-statistic {
    color: white;
    border: none;
    border-radius: 0.5rem;
}
.card-statistic .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
.card-statistic-icon i {
    font-size: 3.5rem;
    opacity: 0.3;
}
.bg-card-blue { background-color: #0d6efd; }
.bg-card-green { background-color: #198754; }
.bg-card-orange { background-color: #fd7e14; }
.bg-card-purple { background-color: #6f42c1; }